*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* outline: 1px solid limegreen; */
	font-family: 'Poppins';
}

hr{
	color: aqua;
}

.landingpage{
	background-image: url("5844591d4fc53908b4ecc1fda0511af88a269620-16x9-x1054y896w3725h2095.png");
	background-attachment: scroll;
	background-size: cover;
	background-repeat: no-repeat;
	height: 1000px;
}

.navbar{
	position: fixed;
	background-color: transparent;
	width: 100%;
	padding: 30px 0;
	top: 0;
	z-index: 999;
	transition: .3s linear;
}

.logo {
	padding-right: 80px;
	font-weight: bolder;
}


/* .navlinks{
	margin-right: 15em;
} */
.navcontain{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 0px 100px;
}

li{
	display: inline-block;
	color: antiquewhite;
	padding: 1em;
	font-weight: bolder;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 20px;
}

li:hover{
	cursor: pointer;
	transition: 1.5s ease;
	color: rgb(0, 225, 225);
}

#codephoto{
	position: relative;
	left: 70em;
	top: 9em;
	height: 40em;
}

.home{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	font-size: 30px;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.buttons{
	font-size: 20px;
	margin: 25px;
}

.buttons a{
	text-decoration: none;
	
}

.f-button{
	color: azure;
}

.buttons .secondbutton{
	color: rgb(41, 41, 41);
	margin: 15px;
	background-color: rgb(0, 242, 255);
	margin: 41px;
	padding: 15px;
	border-radius: 2em;
	border-color: azure;
	box-shadow: 3px 2px rgb(255, 255, 255);
}

.social{
	margin: 30px 0px;
}

.social img{
	margin: 10px;
}
.position{
	position: relative;
	top: 350px;
}

.about .about-head{
	margin: 50px;
	font-weight: 200;
	font-family: 'Poppins', sans-serif;
}

hr{
	color: rgb(0, 255, 251);
}

.about{
	background-color: rgb(243, 243, 243);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 80px;
}

.logo-photo img{
	border-radius: 50px;
	width: 200px;
}

.about-text{
	font-family: 'Poppins';
	word-spacing: 2px;
}

progress::-moz-progress-bar{
	background: aqua;
}

.skills-percent progress{
	width: 250px;
	height: 10px;
	background-color: rgb(117, 117, 117);
	/* color: rgb(0, 213, 255); */
}

.skills-percent{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 40px;
	display: grid;
	grid-template-columns: auto auto auto;
	column-gap: 20px;
}

.services-container{
	background-color: rgba(53,59,72,255);
	padding: 60px 0px;
	font-family: 'Poppins';
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.sub-container div span{
	font-size: 80px;
	color: rgb(12,232,185);
}

.sub-container{
	display: grid;
	align-items: center;
	grid-template-columns: auto auto;
	margin: 60px;
	grid-column-gap: 50px;
	grid-row-gap: 50px;
}

.sub-container div h4{
	font-size: 20px;
}

.service-head h2{
	color: white;
}

.sub-container div:hover{
	background-color: rgb(255, 255, 255);
	transition: .6s ease;
	outline: none;
	cursor: pointer;
}

.sub-container div{
	padding: 40px;
	outline: 0.2rem solid aqua ;
	width: 450px;
	height: 300px;
}

.edu-container{
	padding: 100px;
	font-family: 'Poppins';
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.edu-subcontain{
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.sub-css{
	font-size: 14px;
	outline: 0.1rem solid rgba(0, 0, 0, 0.389);
	margin: 20px;
	padding: 25px;
}

/* .border{
	border-left: 10px solid rgba(0, 0, 0, 0.467);
	position: relative;
	right: 386px;
	height: 1168px;
} */


.work-container{
	display: grid;
	justify-content: center;
	
}

.horizontal-line{
	height: 72em;
	width: 5px;
	background-color: rgba(0, 0, 0, 0.458);
	/* display: flex;
	align-items: center; */
	/* transform: rotate(90deg); */
	/* position: relative;
	top: 630px;
	right: 595px; */
}

.sub-container1{
	display: grid;
	grid-template-columns: auto auto;
}

.work-container{
	font-family: 'Poppins';
	display: flex;
	align-items: center;
	padding: 70px;
	flex-direction: column;
	background-color: rgba(53,59,72,255);
}

.work-head h2{
	color: white;
}

.work-img-container{
	margin: 40px;
	display: grid;
	grid-template-columns: auto auto;
	grid-row-gap: 20px;
	grid-column-gap: 20px;
}

.work-img-container img:hover{
	transition: ease 1s;
	transform: scale(2.0);
	rotate: 40deg;
}

.work-img-container div{
	overflow: hidden;
}

.work-container img{
	width: 400px;
}

.contact-container{
	padding: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.all-in-css-3 span{
	margin: 15px;
	font-size: 50px;
}

.contact-container .all-in-css-3:hover{
	cursor: pointer;
	transition: ease 1s;
	background-color:rgb(0, 232, 232);
}

.contact-container .all-in-css-3{
	margin: 20px;
	padding: 50px;
	color: white;
	text-align: center;
	width: 750px;
	background-color: rgba(53,59,72,255);
}

.form-container{
	margin: 50px;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 20px;
	width: 750px;
}

.subject-1 input{
	padding: 15px;
	width: 100%;
}

.full-text{
	grid-column: 1/3;
}

.padding-1 textarea{
	padding: 10px;
	width: 100%;
	height: 200px;
	border-radius: 10px;
	color: rgba(255, 255, 255, 0.793);
	background-color: rgba(53,59,72,255);
}

.padding input{
	width: 100%;
	padding: 15px;
}

.subject-1{
	grid-column: 1/3;
}

.form-container div input{
	border-radius: 10px;
	color: rgba(255, 255, 255, 0.881);
	background-color: rgba(53,59,72,255);
}

.sendmessage{
	color: rgb(41, 41, 41);
	background-color: rgb(0, 242, 255);
	padding: 15px;
	border-radius: 2em;
	border-color: azure;
	box-shadow: 3px 2px rgb(255, 255, 255);
}

.footer-container{
	color: white;
	padding: 80px;
	background-color: black;
	text-align: center;
}

.footer-container img{
	padding: 8px;
}

.foot-text a{
	text-decoration: none;
	color: aqua;
}

@media screen {
	
}